name: Windows release
on: [push, pull_request]

jobs:
  build:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: olegtarasov/get-tag@v2.1.3
      id: get_tag
    - uses: nelonoel/branch-name@v1.0.1
    - name: Compute release
      id: release
      env:
        TAG: ${{ steps.get_tag.outputs.tag }}
      run: |
        if ($env:TAG -eq '') {
            $Env:RELEASE = "$ENV:BRANCH_NAME-${{ github.run_number }}"
            $Env:RELEASE = $Env:RELEASE -replace "/", "_"
            echo "::set-output name=RELEASE::$Env:RELEASE"
            echo "::set-output name=CREATE_TAG::false"
            # echo "RELEASE=$Env:RELEASE" >> $GITHUB_OUTPUT
            # echo "CREATE_TAG=false" >> $GITHUB_OUTPUT
        }
        else {
            echo "::set-output name=RELEASE::$Env:TAG"
            echo "::set-output name=CREATE_TAG::true"
            # echo "RELEASE=$Env:TAG" >> $GITHUB_OUTPUT
            # echo "CREATE_TAG=true" >> $GITHUB_OUTPUT
        }
        echo "output:${$GITHUB_OUTPUT}"
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        pip install pyinstaller==6.9.0
#        pip install pytest
    - name: Build exe
      run: |
        echo "release=${{ steps.release.outputs.RELEASE }}"
        pyinstaller.exe imio-scan-helpers.spec -- -r ${{ steps.release.outputs.RELEASE }}
    - name: Create Release
      id: create_release
      if: steps.release.outputs.CREATE_TAG == 'false'
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ steps.release.outputs.RELEASE }}
        name: Prerelease ${{ steps.release.outputs.RELEASE }}
        commit: ${{ github.base_href }}
        draft: false
        prerelease: true
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: dist\imio-scan-helpers-${{ steps.release.outputs.RELEASE }}.zip
        artifactContentType: application/zip
    - name: Create Tag
      id: create_tag
      if: steps.release.outputs.CREATE_TAG == 'true'
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ steps.release.outputs.RELEASE }}
        draft: false
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: dist\imio-scan-helpers-${{ steps.release.outputs.RELEASE }}.zip
        artifactContentType: application/zip
